
GroupPostsPollingService/.vs/GroupPostsPollingService/xs/UserPrefs.xml
GroupPostsPollingService/.vs/GroupPostsPollingService/xs/project-cache/GroupPostsPollingService.Tests-Debug.json
GroupPostsPollingService/.vs/GroupPostsPollingService/xs/project-cache/GroupPostsPollingService-Debug.json
GroupPostsPollingService/.vs/GroupPostsPollingService/xs/project-cache/GroupPostsPollingService.UnitTest-Debug.json
